.header {
    height: 80px;
    background-color: #3F3F3F;
    display: flex;
    align-items: center;
    color: #D9D9D9;
    font-size: 20px;
    font-weight: bold;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
}

.linksContainer {
    display: flex;
}

.links {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.linksParagraph {
    margin-left: 8px;
    margin-right: 8px;
}